// Файл обнуляющих стилей
@import "_nullstyle";

//////////////////////////////////////
///

.wrapper {
	background-color: rgb(129, 129, 129);
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background: #9e4949;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.title {
	color: #fff;
	font-size: 54px;
	font-weight: 700;
	padding: 20px 0;
}

#myElement {
	width: 380px;
	height: 100px;
	background-color: #429f9b;
	border-radius: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
	color: #429f9b;
}
.btn {
	padding: 10px 30px;
	border-radius: 20px;
	transition: box-shadow 0.3s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
		}
	}
}
